<div class='header'>
  <svg
    width='100'
    height='28'
    viewBox='0 0 121 28'
    fill='none'
    xmlns='http://www.w3.org/2000/svg'
  >
    <path
      d='M25.6275 7.27516C28.0608 7.27516 29.9882 7.99793 31.4097 9.44347C32.8552 10.8649 33.578 13.0092 33.578 15.8762V27.0068H27.9404V16.7435C27.9404 15.2016 27.6151 14.0572 26.9646 13.3103C26.3382 12.5394 25.4348 12.1539 24.2542 12.1539C22.9292 12.1539 21.8811 12.5875 21.1102 13.4549C20.3392 14.2981 19.9537 15.563 19.9537 17.2494V27.0068H14.3161V16.7435C14.3161 13.6837 13.0874 12.1539 10.63 12.1539C9.32899 12.1539 8.29302 12.5875 7.52206 13.4549C6.7511 14.2981 6.36562 15.563 6.36562 17.2494V27.0068H0.727997V7.56427H6.11265V9.80486C6.83542 8.98572 7.7148 8.35932 8.75077 7.92565C9.81084 7.49199 10.9673 7.27516 12.2201 7.27516C13.5933 7.27516 14.8341 7.55222 15.9424 8.10635C17.0506 8.63638 17.942 9.41938 18.6166 10.4554C19.4117 9.44348 20.4115 8.66047 21.6161 8.10635C22.8448 7.55222 24.182 7.27516 25.6275 7.27516Z'
      fill='black'
    />
    <path
      d='M48.6365 22.7786C49.6484 22.7786 50.5398 22.6341 51.3108 22.345C52.1058 22.0318 52.8406 21.5499 53.5152 20.8994L56.5147 24.1519C54.6837 26.2479 52.0095 27.296 48.492 27.296C46.2996 27.296 44.3601 26.8743 42.6736 26.0311C40.9872 25.1638 39.6862 23.9712 38.7707 22.4534C37.8552 20.9356 37.3974 19.213 37.3974 17.2856C37.3974 15.3823 37.8431 13.6717 38.7345 12.1539C39.65 10.612 40.8908 9.41938 42.4568 8.57615C44.0469 7.70882 45.8298 7.27516 47.8053 7.27516C49.6604 7.27516 51.3469 7.67268 52.8647 8.46773C54.3826 9.23869 55.5872 10.371 56.4786 11.8648C57.3941 13.3344 57.8519 15.0811 57.8519 17.1049L43.4687 19.8875C43.8783 20.8512 44.5167 21.574 45.384 22.0559C46.2755 22.5377 47.3596 22.7786 48.6365 22.7786ZM47.8053 11.5395C46.3839 11.5395 45.2274 11.9973 44.336 12.9128C43.4446 13.8283 42.9748 15.0931 42.9266 16.7073L52.3949 14.8643C52.1299 13.8524 51.5878 13.0453 50.7687 12.443C49.9496 11.8407 48.9618 11.5395 47.8053 11.5395Z'
      fill='black'
    />
    <path
      d='M67.9656 27.1875C66.255 27.1875 64.93 26.7057 63.9904 25.742C63.0748 24.7783 62.6171 23.4412 62.6171 21.7306V0.191986H65.1829V21.5138C65.1829 22.6461 65.4479 23.5134 65.978 24.1158C66.508 24.694 67.3031 24.9831 68.3631 24.9831C69.0377 24.9831 69.6159 24.8747 70.0978 24.6578L70.2785 26.79C69.5316 27.055 68.7607 27.1875 67.9656 27.1875Z'
      fill='black'
    />
    <path
      d='M73.7692 7.99793H76.3351V27.0068H73.7692V7.99793ZM75.0702 3.84199C74.5402 3.84199 74.0945 3.66129 73.7331 3.29991C73.3717 2.93852 73.191 2.50486 73.191 1.99892C73.191 1.51707 73.3717 1.09545 73.7331 0.734065C74.0945 0.372679 74.5402 0.191986 75.0702 0.191986C75.6003 0.191986 76.046 0.372679 76.4074 0.734065C76.7687 1.07136 76.9494 1.48093 76.9494 1.96278C76.9494 2.49281 76.7687 2.93852 76.4074 3.29991C76.046 3.66129 75.6003 3.84199 75.0702 3.84199Z'
      fill='black'
    />
    <path
      d='M100.604 7.99793V27.0068H98.1467V23.5375C97.4721 24.694 96.5446 25.5974 95.364 26.2479C94.1835 26.8743 92.8343 27.1875 91.3165 27.1875C88.835 27.1875 86.8715 26.5009 85.4259 25.1276C84.0045 23.7303 83.2937 21.6945 83.2937 19.0202V7.99793H85.8596V18.7672C85.8596 20.7669 86.3535 22.2847 87.3413 23.3207C88.3291 24.3567 89.7385 24.8747 91.5695 24.8747C93.5692 24.8747 95.1472 24.2724 96.3036 23.0677C97.4601 21.839 98.0383 20.1405 98.0383 17.9722V7.99793H100.604Z'
      fill='black'
    />
    <path
      d='M112.886 27.1875C111.344 27.1875 109.862 26.9707 108.441 26.537C107.044 26.0793 105.947 25.5131 105.152 24.8385L106.309 22.8148C107.104 23.4412 108.104 23.9592 109.308 24.3687C110.513 24.7542 111.766 24.9469 113.067 24.9469C114.801 24.9469 116.078 24.6819 116.897 24.1519C117.741 23.5978 118.162 22.8268 118.162 21.839C118.162 21.1403 117.933 20.5983 117.476 20.2128C117.018 19.8032 116.44 19.5021 115.741 19.3093C115.042 19.0925 114.115 18.8877 112.958 18.695C111.416 18.4059 110.176 18.1167 109.236 17.8276C108.296 17.5144 107.489 16.9964 106.815 16.2737C106.164 15.5509 105.839 14.5511 105.839 13.2742C105.839 11.6841 106.501 10.3831 107.827 9.3712C109.152 8.35932 110.995 7.85338 113.356 7.85338C114.584 7.85338 115.813 8.02202 117.042 8.35932C118.271 8.67252 119.282 9.09414 120.077 9.62417L118.957 11.6841C117.391 10.5999 115.524 10.0578 113.356 10.0578C111.717 10.0578 110.477 10.3469 109.633 10.9252C108.814 11.5034 108.405 12.2623 108.405 13.2019C108.405 13.9247 108.634 14.5029 109.091 14.9365C109.573 15.3702 110.163 15.6955 110.862 15.9123C111.561 16.105 112.525 16.3098 113.753 16.5266C115.271 16.8158 116.488 17.1049 117.403 17.394C118.319 17.6831 119.102 18.177 119.752 18.8757C120.403 19.5743 120.728 20.538 120.728 21.7667C120.728 23.4291 120.029 24.7542 118.632 25.742C117.259 26.7057 115.343 27.1875 112.886 27.1875Z'
      fill='black'
    />
  </svg>
</div>