.logoWrapper {
  position: fixed;
  top: 1.5rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

.logo {
  font-family: $font-display;
  font-size: $fs-2-4;
  font-weight: 600;
  letter-spacing: -0.075rem;
  line-height: 3.6rem;
  margin: 0;
}

@include min-width-md {
  .logoWrapper {
    top: 2rem;
  }

  .logo {
    font-size: $fs-3;
  }
}
