.homeContainer {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-height: 100vh;
  height: 100vh;
  padding: 0;
  position: relative;
  overflow: hidden;
}

@include min-width-md {
  .homeContainer {
    flex-direction: row;
    min-height: 100vh;
    height: 100vh;
    overflow: hidden;
  }
}
