$canvas: rgb(254, 255, 245);
$canvas-dark: rgb(244, 245, 235);
$black: rgb(0, 0, 0);
$black-opacity: rgba(0, 0, 0, 0.8);
$navbarHeight: 6.4rem;
$maxWidth: 128rem;

// Header heights
$header-height-mobile: 5.5rem;
$header-height-desktop: 6.5rem;

// Logo heights
$logo-height-mobile: 2rem;
$logo-height-desktop: 2.5rem;
