.container {
  max-width: 44.8rem;
  width: 100%;

  .text {
    color: #1a1a1a99;
    display: block;
    font-family: var(--font-sans), sans-serif;
    font-size: 1.8rem;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 2.92rem;
    margin: 0;
    text-align: left;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 100%;

    .text {
      font-size: 1.6rem;
      line-height: 2.6rem;
    }
  }
}
