.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  padding: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
}

.logo {
  font-family: $font-display;
  font-size: $fs-2-4;
  font-weight: 600;
  letter-spacing: -0.075rem;
  line-height: 3.6rem;
  margin: 0;
}

// Tablet and up
@include min-width-md {
  .header {
    padding: 2rem;
  }

  .logo {
    font-size: $fs-3;
  }
}
